<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Review</title>
    <!--container for metadata(is not displayed on the page
    ) title, style(css) ,lnk,scripts
    -->

<body>
       <b>Welcome to Java developer course</b>
       <h2 align="center" style="color: blue">Spring boot</h2>
       <h3>Spring boot</h3>
       <h4>Spring boot</h4>
       <h5>Spring boot</h5>

     <img src="springboot.png"alt="Spring boot image">

     <ul>
         <li>JAVA</li>
         <li>MVC</li>
         <li>ORM</li>
     </ul>

     <a href="https://cydeo.com">Cydeo</a>
<br>
<br>
     <table>
         <tr>
             <td>First Name</td>
             <td>Last Name</td>
             <td>Salary</td>
         </tr>
         <tr>
             <td>Mike</td>
             <td>Smith</td>
             <td>12000</td>
         </tr>

     </table>
<br>
<br>
      <label>User Name:</label>
      <input type="text" name="username">
       <br>
       <label>Password:</label>
       <input type="password">
       <br>
       <label>Enter your comments</label>
       <textarea name="comments"></textarea>
</body>
</html>